In [26]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [51]:
print("Hello Class!")

Hello Class!

##ADDITION

In [55]:
num_1=10
num_2=20
num_1+num_2

30

In [75]:
23+45

68

In [53]:
10000000002048759+54813974955629870

64813974957678629

#SUBSTRACTION

In [76]:
num_1-num_2

-10

In [77]:
num_2-num_1

10

#Multiplication

In [78]:
num_1*num_2

200

In [79]:
num_1*10

100

In [80]:
num_2*5

100

In [81]:
34*45

1530

##Division

In [82]:
num_1/num_2

0.5

In [83]:
num_2/num_1

2.0

In [84]:
23/2

11.5

In [85]:
1/89

0.011235955056179775

In [28]:
##floor division
1//89

0

##Modulus

In [86]:
num_1%num_2

10

In [87]:
23%5

3

In [88]:
25%5

0

In [31]:
##CALUCLATE POWER
2**4

16

In [89]:
##COMPARISION OPERATORS

In [90]:
num_1==num_2

False

In [91]:
num_2==20

True

In [92]:
num_1<20

True

In [58]:
num_2>=num_1

True

# LOOPS

In [94]:
#IF statement

In [60]:
num_1=23
if (num_1>20):
        print("TRUE!")

TRUE!

In [96]:
##IF-ELSE Statement

In [97]:
var_1=22
if(var_1<19):
    print("True!")
else:
        print("False!")

False!

In [ ]:
### For loop for strings

In [63]:
words = ['cat', 'window', 'defenestrate']
for w in words:
 print(w, len(w))

cat 3
window 6
defenestrate 12

In [64]:
 # Loop over a slice copy of the entire list.
words = ['cat', 'window', 'defenestrate']
for w in words[:]: 
    if len(w) > 6:
        words.insert(0, w)

In [12]:
words

['defenestrate', 'cat', 'window', 'defenestrate']

In [13]:
# range() function

In [4]:
for i in range(50):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [1]:
#A function is a block of organized, reusable code that is used to perform a single, related action

In [60]:
 # write Fibonacci series up to n
def fib(n):  
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, (a+b)
        print()

In [61]:
fib(10)

0
1
1
2
3
5
8

In [67]:
# different type of sequences

In [68]:
#LIST

In [69]:
list_1=[2,4,5,6,7]
list_2=['apples','bannas','oranges']

In [4]:
list_2[2]='berries'

In [6]:
list_2

['apples', 'bannas', 'berries']

In [14]:
id(list_2)

2479621855624

In [7]:
list_2[:1]

['apples']

In [8]:
list_1[0:4]

[2, 4, 5, 6]

In [11]:
id(list_1)

2479622640264

In [13]:
id(list_2)

2479621855624

In [32]:
# tuples

In [41]:
tup_1=(2,4,5,6,7)

In [42]:
tup_1

(2, 4, 5, 6, 7)

In [43]:
id(tup_1)

2479621960720

In [3]:
# tuples can't be changed the below is an example when you try to change it will throw error

In [2]:
tup_1[2]=9

NameError: name 'tup_1' is not defined

In [46]:
tup_1=(2,4,9,6,7)

In [5]:
id(tup_1)

NameError: name 'tup_1' is not defined

In [18]:
##SETS
#it eliminates duplicates

In [19]:
basket={'apples','bannas','berries','apples','grapes','mangoes','strawberries','berries'}

In [20]:
print(basket)

{'apples', 'grapes', 'bannas', 'strawberries', 'mangoes', 'berries'}

In [23]:
##dictonaries

In [24]:
dict_1={'id1':21,'id2':22,'id3':24}

In [25]:
dict_1

{'id1': 21, 'id2': 22, 'id3': 24}